# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
*.env

# Flask specific
instance/

# SQLite specific
*.sqlite3
*.db

# Docker specific
docker-compose.override.yml
docker-compose.prod.yml
.docker/

# Logs
*.log

# Environment configuration (unless a template is provided)
config.py

# Mac-specific
.DS_Store

# Windows-specific
Thumbs.db
Desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS specific files
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints/

# Coverage reports
.coverage
coverage.xml
*.cover
*.py,cover

# Test results
nosetests.xml
*.cover
*.py,cover

# Pytest
.cache/
*.hypothesis/

# Build files
build/
dist/
*.egg-info/
*.egg